*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --transition-duration: 500ms;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    position: relative;
    background-color: gray;
    overflow: clip;
}

.card img {
    display: block;
}

.card .text {
    position: absolute;
    top: 20%;
    padding: 1em;

    color: white;
    text-align: center;

    opacity: 0;
    transition: opacity var(--transition-duration);
}

.card:hover .text {
    opacity: 1;
}

.card img {
    transition: var(--transition-duration);
    /* transform-origin: top left; */
}

.card:hover img {
    opacity: .4;
    scale: 1.1;
    translate: 5% 5%;
} 

.card::before, .card::after {
    content: '';
    position: absolute;
    inset: 1.5em;
    transition: scale var(--transition-duration) ease-out;
}

.card::before {
    z-index: 1;
    border-inline: 1px solid lightgray;
    scale: 1 0;
}

.card::after {
    border-block: 1px solid lightgray;
    scale: 0 1;
}

.card:hover::before {
    scale: 1 1.05;
}

.card:hover::after {
    scale: 1.05 1;
}
