* {
    box-sizing: border-box;
}

.box {
    width: 60vw;
    height: 60vh;

    padding: 30px;
    background-color: darkgray;
    margin: 100px auto;
}

.small-box {
    width: 100px;
    height: 100px;

    border: 2px solid lightgray;
    background-color: darkseagreen;

    animation: moveX 800ms alternate 2 linear;
}

@keyframes moveX {
    50% {
        rotate: 360deg;
    }
    to {
        translate: 
            calc(60vw - 60px - 100px) calc(60vh - 60px - 100px);
    }
}