*, *::before, *::after {
    box-sizing: border-box;
}

.box {
    position: relative;
    width: 60vw;
    height: 60vh;

    padding: 30px;
    background-color: darkgray;
    margin: 100px auto;
}

.small-box {
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    width: 100px;
    height: 100px;

    border: 2px solid lightgray;
    background-color: darkseagreen;
}

:root {
    --duration: 2s;
}

/* Ruler Animation */

.box::before {
    content: '';
    position: absolute;
    inset: 0 0 auto 0;
    
    height: .9em;
    
    scale: 0 1;
    transform-origin: left;

    background-color: orangered;
}

.box:hover::before {
    animation: progress var(--duration) linear forwards;
}

.ruler {
    position: absolute;
    inset: 0 0 auto 0;

    display: grid;
    grid-auto-flow: column;
    font-family: monospace;
    font-size: .9em;
    color: white;
}

.ruler span:not(:last-child) {
    border-inline-end: 1px solid white;
}

.ruler span {
    padding-inline-start: .3em;
    border-block-end: 1px solid white;
}

@keyframes progress {
    to {
        scale: 1 1;
    }
}