.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50px -50%;
}

.loader ul {
    display: flex;
    gap: 8px;
    list-style: none;
}

.loader ul li {
    display: block;
    width: 4px;
    height: 20px;
    background-color: #000;

    animation: grow 700ms infinite alternate ;
}

.loader ul li:nth-child(1) {
    animation-delay: 100ms;
}

.loader ul li:nth-child(2) {
    animation-delay: 200ms;
}

.loader ul li:nth-child(3) {
    animation-delay: 300ms;
}

.loader ul li:nth-child(4) {
    animation-delay: 400ms;
}

.loader ul li:nth-child(5) {
    animation-delay: 500ms;
}

.loader ul li:nth-child(6) {
    animation-delay: 600ms;
}

.loader ul li:nth-child(7) {
    animation-delay: 700ms;
}

@keyframes grow {
    75% {
        scale: 1 1;
    }
    100% {
        scale: 1 3;
    }
}