.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50px -50%;
}

.loader ul {
    display: flex;
    gap: 8px;
    list-style: none;
}

.loader ul li {
    display: block;
    width: 4px;
    height: 20px;
    background-color: #000;
}