* {
    box-sizing: border-box;
}
body {
    display: grid;
    place-content: center;

    height: 100vh;

    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    letter-spacing: 1px;
    line-height: 1.3;
}
.post {
    display: grid;
    position: relative;

    min-width: 280px;
    padding: 1em;
    margin-inline: 2em;
    border: 1px solid lightgrey;
    border-radius: .5em;
}
.post h2{
    font-size: 44px;
    /* position: relative;
    top: -1.5em; */
}
.post h3{
    font-size: 14px;
    text-transform: uppercase;
    color: #ddd
}
.post img {
    width: clamp(130px, 30vw, 200px);
    float: right;
    shape-outside: circle(45%);
}
.menu {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;

    position: relative;
    top: 1em;
    justify-self: end;
}
.icon {
    display: grid;
    place-content: center;

    grid-column: 1;
    grid-row: 1;

    width: 2em;
    height: 2em;
    padding: 6px;
    border: 1px solid lightgray;
    border-radius: 50%;

    background-color: #fafafa;
    color: #555;

    transition: 
        all .6s ease-out;
}
.icon:not(:last-of-type) {
    opacity: 0;
}
.icon:last-of-type {
    opacity: .4;
    z-index: 2;
}
.icon:last-of-type:hover {
    opacity: .8;
}
.icon:nth-of-type(1){
    transition-delay: 120ms;
}
.icon:nth-of-type(2){
    transition-delay: 235ms;
}
.icon:nth-of-type(3){
    transition-delay: 350ms;
}
.icon:nth-of-type(4){
    transition-delay: 465ms;
}
.icon:nth-of-type(5){
    transition-delay: 645ms;
}

.shown .icon{
    opacity: .8;
}
.shown .icon:nth-of-type(1){
    translate: calc(-1 * 2.6em - 1.8em);
}
.shown .icon:nth-of-type(2){
    translate: calc(-2 * 2.6em - 1.8em);
}
.shown .icon:nth-of-type(3){
    translate: calc(-3 * 2.6em - 1.8em);
}
.shown .icon:nth-of-type(4){
    translate: calc(-4 * 2.6em - 1.8em);
}
.shown .icon:nth-of-type(5){
    translate: calc(-5 * 2.6em - 1.8em);
}
.badge {
    position: absolute;
    top: -.3em;
    right: -.3em;
    z-index: 10;
    font-size: .9em;
    color: rgb(250, 57, 57);
    opacity: 0;
    transition: opacity .3s ease-in;
}
.show-badge {
    opacity: 1;
    animation: headShake;
    animation-delay: .1s;
    animation-duration: .8s;
}