* {
    box-sizing: border-box;
}
body {
    display: grid;
    height: 100vh;
    place-items: center;
    background-color: #444;
}
.loader {
    display: grid;
    grid-auto-flow: column;
}
.dot {
    --animation-duration: 1.5s;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: whitesmoke;
    
    margin-inline: 10px;
    animation: scale var(--animation-duration) infinite linear;
}
@keyframes scale {
    30% { scale: 1; }
    50% { scale: 1.5; }
    80% { scale: 1; }
}
.dot:nth-child(2){
    animation-delay: calc(var(--animation-duration) / 5);
}
.dot:nth-child(3){
    animation-delay: calc(var(--animation-duration) / 5 * 2);
}