*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.rail {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    width: 200px;

    padding-inline-start: 50px;
    background-color: lightgoldenrodyellow;
    border-radius: 100vh;
    margin: 100px auto;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;

    width: 40px;
    height: 40px;
    background-color: gray;
    border: 3px solid lightgray;
    border-radius: 50%;
    opacity: .7;
    cursor: pointer;
}

.hint-animation {
    animation: slide 2s ease-in-out 2;
}

.slider:hover {
    animation: slide 2s ease-in-out 1;
}

@keyframes slide {
    20% {
        translate: 20px;
    }
    35% {
        translate: 0;
    }
    60% {
        translate: 20px;
    }
}