*, *::before, *::after {
    box-sizing: border-box;
}

.toolbar {
    display: grid;
    grid-auto-flow: column;

    width: 100%;
    height: 5vh;

    background-color: lightgray;
    margin-block-start: 100px;
}

div {
    text-align: center;
    align-content: center;
}

.icon {
    color: white;
    transition: color 300ms;
    font-size: 1.2em;
    cursor: pointer;
}

div:hover .icon {
    color: pink;
    scale: 1.3;
}

div:hover .fa-arrow-up-from-bracket {
    animation: headShake 1600ms;
}

div:hover .fa-bell {
    animation: swing 1600ms;
}

div:hover .fa-gear {
    animation: bounce 1600ms;
}

div:hover .fa-fire-extinguisher {
    animation: heartBeat 1600ms;
}
