* {
    box-sizing: border-box;
}

h1 {
    font-family: monospace;
    text-align: center;
}

.outline {
    width: 300px;
    height: 300px;
    margin: 20px auto;
    outline: 1px dotted darkgray;
}

.box {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    opacity: 0.5;
}