* {
    box-sizing: border-box;
}

h1 {
    font-family: monospace;
    text-align: center;
}

.outline {
    position: relative;

    width: 300px;
    height: 300px;
    margin: 20px auto;
    
    outline: 1px dotted darkgray;
}

.outline::before, .outline::after, .box::after, .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    
    width: 1px;
    height: 100%;
    border-inline-start: 1px dotted lightgray;
}

.box::before {
    border-color: gray;
}

.outline::after, .box::after {
    border-color: gray;
    rotate: 90deg;
}

.box {
    width: 300px;
    height: 300px;

    background-color: lightblue;
    opacity: 0.5;
    transition: all 500ms;

    /* transform-origin: top left; */
}

.outline:hover .box{
    /* translate: 150px 150px; */
    /* rotate: 25deg; */
    /* scale: 1.3; */

    /* transform: translate(150px, 150px) rotate(25deg); */
    /* transform: rotate(25deg) translate(150px, 150px); */

    /* transform: skew(10deg); */
}

.small-box {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100px;
    aspect-ratio: 1;

    background-color: orangered;
}